body {
    margin: 0;
    padding 0;
    background-color: white
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abhaya Libre', serif;
}

.h2_udvalgte_favoritter {
    margin: 40px 0 0 30px;
}

.logo_sort {
    width: 250px;
    height: 100px;
    position: relative;
    top: -20px
}

.telefon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 30px;
}


.location {
    width: 30px;
    height: 30px;
    position: relative;
    top: 130px;

}

nav {}

.logo img {
    position: absolute;
    width: 150px;
    height: 50px;
    margin: 10px 0 0 20px;
}

header {

    width: 100%;
    position: fixed;
    height: auto;
    min-height: 70px;
    line-height: 70px;
    background-color: black;


}

.menu {
    color: white;
    float: right;



}

.menu a {

    text-decoration: none;
    margin: 30px;
    line-height: 70px;
    color: white;
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;




}

.menu a:hover {
    color: #FAEBC4;

}

#splash {

    background-image: url(restaurant.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.splash-textbox {

    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
    font-style: normal;


    width: 300px;
    border-radius: 20px;
    background-color: rgba(250, 235, 196, 0.94);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.splash-textbox p {
    padding: 10px;
    text-align: center;
}

.splash-textbox h1 {
    padding: 10px;
    text-align: center;
}



wrapper {}


#konceptet {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

#konceptet .box1 {
    margin: auto 30px;

}

#konceptet .box-container {
    display: flex;
    flex-direction: column;
    margin: auto 30px;
    align-items: center;


}

.responsive {
    width: 100%;
    max-width: 800px;
    height: auto;
    filter: saturate(80%);
    margin-top: 20px;
}

.responsive2 {
    width: 100%;
    max-width: 400px;
    height: auto;
}







#udvalgte_favoritter {
    margin: auto 30px;
    margin-top: 40px;
    margin-bottom: 70px;

}









@media only screen and (min-width: 768px) {

    #konceptet .box-container {
        flex-direction: row;
        justify-content: space-around;
    }

    #konceptet .box1 {
        max-width: 700px;
    }

    #konceptet .box2 {
        margin-right: 15px;
    }

    #konceptet .box3 {
        margin-left: 15px;
    }

    #udvalgte_favoritter {
        flex-direction: row;
        justify-content: space-around;
    }

    #udvalgte_favoritter .box4 {
        display: flex;
        margin-top: 20px;
    }

    #udvalgte_favoritter .box5 {
        display: flex;
        margin-top: 20px;
    }

    #udvalgte_favoritter .box6 {
        display: flex;
        margin-top: 20px;
    }

    #udvalgte_favoritter .box7 {
        display: flex;
        margin-top: 20px;
    }

    #udvalgte_favoritter .boxtext {
        margin-top: -15px;
        margin-right: 15px;
        margin-left: 20px;
        width: 200px;
    }

    .h2_udvalgte_favoritter {
        margin: 40px 0 0 30px;
    }

}


@media only screen and (min-width: 1000px) {

    /*
        .boks {
            margin: 20px;
        }
*/

    .box1 {
        margin-bottom: 90px;
    }

    #udvalgte_favoritter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    #udvalgte_favoritter .box4 {

        margin-top: 20px;
        max-width: 550px;

    }

    #udvalgte_favoritter .box5 {

        margin-top: 20px;
        max-width: 550px;
    }

    #udvalgte_favoritter .box6 {

        margin-top: 20px;
        max-width: 550px;
    }

    #udvalgte_favoritter .box7 {

        margin-top: 20px;
        max-width: 550px;
    }

    #udvalgte_favoritter .boxtext {
        width: 200px;


    }
}

footer {
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 70px;
}
