body {
    margin: 0;
    padding 0;
}



.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100vw;
    grid-gap: 5px;

}

.item {
    background-color: papayawhip;
}

